<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>

<h1> Book list </h1>

<table> 
    <thead> 
        <th> ISBN </th> 
        <th> Title </th> 
        <th> Author </th> 
    </thead> 
    <tbody> 
        <tr th:each="book: ${books}"> 
            <td th:text="${book.isbn}"></td> 
            <td th:text="${book.title}"></td> 
            <td th:text="${book.author}"></td> 
        </tr> 
    </tbody> 
</table>

<a href="/add-book">
    <input type="button" value="Add New Book" />
</a>


<form action="/books-list/find-by-title">
    <h1>Search by title: </h1>
    <label>
        <input name="title">
    </label>
    <button type="submit">Search</button>
</form>

<form action="/books-list/find-by-isbn">
    <h1>Search by ISBN: </h1>
    <label>
        <input name="isbn">
    </label>
    <button type="submit">Search</button>
</form>

</body>
</html>